.container {
  margin: 0 auto;
  padding: 0 0 0 60px;  
  width: 720px;
  color: black;
}

.content {
  clear: both;
}
.sidebar-switch {
  color: red;
  position: fixed;
  z-index: 1;
  left: 50px;
}

.sidebar-switch a {
  color: red;
}

.sidebar-switch a:link {
  color: red;
}

.sidebar-switch a:visited {
  color: red;
}

.sidebar-switch a:hover {
  color: red;
}

.sidebar-switch a:active {
  color: red;
}

.sidebar {
  width: 150px;
  height: 100%;
  position: fixed;
  background-color: #c1bfbf;
  left: 0;
  top: 0;
}

.sidebar ul {
  padding: 0;
}

.sidebar li {
  list-style-type: none;
  border-bottom: 1px solid #9b9999;
  padding: 6px;
}
.sidebar li:first-child {
  list-style-type: none;
  border-bottom: 1px solid #9b9999;
  padding: 0 6px 6px 6px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar a:link {
  color:#000000;
}

.sidebar a:visited {
  color:#000000;
}

.sidebar a:hover {
  color:#9b9999;
}

.sidebar a:active {
  color:#000000;
}

h1 {
  float: left;
}
